<!-- <div>
  <table>
    <tr>
      <th id="th"><i class="fas fa-4x fa-angry icon" title="Very Bad"></i>
        <p>Very Bad</p>
      </th>
      <th id="th"><i class="fas fa-4x fa-frown icon" title="Bad"></i>
        <p>Bad</p>
      </th>
      <th id="th"><i class="fas fa-4x fa-meh icon" title="Mixed Feelings"></i>
        <p>Mixed</p>
      </th>
      <th id="th"><i class="fas fa-4x fa-smile icon" title="Good"></i>
        <p>Good</p>
      </th>
      <th id="th"><i class="fas fa-4x fa-grin-alt icon" title="Excellent"></i>
        <p>Excellent</p>
      </th>
    </tr>
  </table>
</div> -->
<div class=" row justify-content-center">
  <span style="font-size: 2em;color: #0074D9">
    <b>Your Feedback Is Important To Us</b>
  </span>
</div>

<div class="row justify-content-center">
  <div style="text-align:center" class="justify-content-center">
    <fa-icon [icon]="faAngry" size="4x"></fa-icon>
  </div>
  <div style="text-align:center" class="justify-content-center">
    <fa-icon [icon]="faFrown" size="4x"></fa-icon>
  </div>
  <div style="text-align:center" class="justify-content-center">
    <fa-icon [icon]="faMeh" size="4x"></fa-icon>
  </div>
  <div style="text-align:center" class="justify-content-center">
    <fa-icon [icon]="faSmile" size="4x"></fa-icon>
  </div>
  <div style="text-align:center" class="justify-content-center">
    <fa-icon [icon]="faGrinAlt" size="4x"></fa-icon>
  </div>
</div>

<div class="form-group justify-content-center">
  <label for="exampleFormControlTextarea1">Example Question1</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="form-group justify-content-center">
  <label for="exampleFormControlTextarea1">Example Question2</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>