<div [hidden]="isHidden">
  <div class=" row justify-content-center">
    <span style="font-size: 2em;color: #0074D9">
      <b>{{ message }}</b>
    </span>
  </div>
</div>

<div [hidden]="!isHidden">
  <div class=" row justify-content-center">
    <span style="font-size: 2em;color: #0074D9">
      <b>Your Feedback Is Important To Us</b>
    </span>
  </div>

  <div class="row justify-content-center">
    <div style="text-align:center" class="justify-content-center">
      <fa-icon id="fa-ang-1" (click)="iconAClicked($event)" [icon]="faAngry" size="4x"
        [ngClass]="{'ang-active': isangActive}">
      </fa-icon>
    </div>
    <div style="text-align:center" class="justify-content-center">
      <fa-icon id="fa-fro-1" (click)="iconFClicked($event)" [icon]="faFrown" size="4x"
        [ngClass]="{'fro-active': isfroActive}">
      </fa-icon>
    </div>
    <div style="text-align:center" class="justify-content-center">
      <fa-icon id="fa-meh-1" (click)="iconMClicked($event)" [icon]="faMeh" size="4x"
        [ngClass]="{'meh-active': ismehActive}">
      </fa-icon>
    </div>
    <div style="text-align:center" class="justify-content-center">
      <fa-icon id="fa-smi-1" (click)="iconSClicked($event)" [icon]="faSmile" size="4x"
        [ngClass]="{'smi-active': issmiActive}">
      </fa-icon>
    </div>
    <div style="text-align:center" class="justify-content-center">
      <fa-icon id="fa-gri-1" (click)="iconGClicked($event)" [icon]="faGrinAlt" size="4x"
        [ngClass]="{'gri-active': isgriActive}">
      </fa-icon>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group justify-content-center">
      <label for="qes1">{{ques1}}</label>
      <textarea class="form-control" id="answer1" required [(ngModel)]="feedback.answer1" name="answer1"
        rows="2"></textarea>
    </div>
    <div class="form-group justify-content-center">
      <label for="qes2">{{ques2}}</label>
      <textarea class="form-control" id="answer2" required [(ngModel)]="feedback.answer2" name="answer2"
        rows="2"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit Feedback</button>
  </form>
</div>